<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <?define ProductName = "Informant" ?>
  <Fragment>
    <CustomAction Id="ConfigEncrypt.SetProperty" 
                  Return="check"
                  Property="ConfigEncrypt" 
                  Value="pass=[SERVICE_PASSWORD];user=[SERVICE_USERNAME];install=[PRODUCTINSTALLDIR]$(var.ProductName).exe;server=[STRING_SERVER_INPUT];database=[STRING_DATABASE_INPUT]"/>
    
    <CustomAction Id="ConfigEncrypt"
                  Return="check"
                  Execute="deferred"
                  BinaryKey="ConfigEncrypt.CA.dll"
                  DllEntry="ConfigEncrypt"/>

    <Binary Id="ConfigEncrypt.CA.dll" src="$(var.ConfigEncrypt.TargetDir)ConfigEncrypt.CA.dll" />
  </Fragment>
</Wix>