<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi"
     xmlns:netfx="http://schemas.microsoft.com/wix/NetFxExtension"
     xmlns:util="http://schemas.microsoft.com/wix/UtilExtension">
  <!-- msiexec /i InformantSetup.msi LOGVERBOSE=1 /L*v install.log -->
  <!-- msiexec /i InformantSetup.msi REINSTALL=ALL REINSTALLMODE=vomus -->
  <?define ProductName = "Informant" ?>
  <?define ProductVersion = "1.0" ?>
  <?define ProductFullVersion = "1.0.0.0" ?>
  <?define ProductAuthor = "Quantifyre" ?>
  <?define ProductAppFolder = "InstallLocation" ?>
   <?define ProductDescription = "Application and file security" ?>
  
  <?if $(var.Platform) = x64 ?>
  <?define ProductDisplayName = "$(var.ProductName) 64-bit" ?>
  <?define ProductId = "0E1BBC35-BB70-41D8-9D76-9FD97BD2E9C8" ?>
  <?define ProductUpgradeCode = "E44B947F-DC48-47E2-8A29-7CC3DEC969DC" ?>
  <?define Win64 = "yes" ?>
  <?define PlatformProgramFilesFolder = "ProgramFiles64Folder" ?>
  <?else ?>
  <?define ProductDisplayName = "$(var.ProductName)" ?>
  <?define ProductId = "AE192816-DA07-4F3C-8C77-01A745DD58F7" ?>
  <?define ProductUpgradeCode = "A36D5F77-E3EF-4D49-A8AD-821E794D8ECB" ?>
  <?define Win64 = "no" ?>
  <?define PlatformProgramFilesFolder = "ProgramFilesFolder" ?>
  <?endif ?>
  
  <Product
	  Id="$(var.ProductId)"
	  Name="$(var.ProductDisplayName) (v$(var.ProductVersion))"
	  Language="1033"
	  Version="$(var.ProductFullVersion)"
	  Manufacturer="$(var.ProductAuthor)"
	  UpgradeCode="$(var.ProductUpgradeCode)">

    <Package
      InstallerVersion="300"
      Compressed="yes"
      InstallScope="perMachine"
      AdminImage="yes"
      InstallPrivileges="elevated" 
      Manufacturer="$(var.ProductAuthor)"
      Platform="$(var.Platform)" />

		<MajorUpgrade 
      AllowDowngrades="no"
		  Schedule="afterInstallValidate"
		  MigrateFeatures="yes"
      DowngradeErrorMessage="A newer version of Informant is already installed." />
		<MediaTemplate EmbedCab="yes" />

    <!---Installed components--> 
		<Feature Id="ProductFeature" Title="Informant Setup" Level="1">
			<ComponentGroupRef Id="ProductComponents" />
      <ComponentRef Id="AppDataComponent"/>
      <ComponentRef Id="IconsComponent"/>
      <ComponentGroupRef Id="BinComponents" />
      <ComponentRef Id="RegistryEntries"/>
		</Feature>
    
    <!--Properties-->
    <Property Id="MSIUSEREALADMINDETECTION" Value="1" />

    <!---Directory structure--> 
		<Directory Id="TARGETDIR" Name="SourceDir">
			<Directory Id="$(var.PlatformProgramFilesFolder)">
				<Directory Id="COMPANYINSTALLDIR" Name="$(var.ProductAuthor)">
          <Directory Id="PRODUCTINSTALLDIR" Name="$(var.ProductName)" >
            <Directory Id="BININSTALLDIR" Name="bin"/>
            <Directory Id="ICONSINSTALLDIR" Name="icons"/>
          </Directory>
        </Directory>
			</Directory>

      <Directory Id="CommonAppDataFolder" Name="AppData">
        <Directory Id="COMPANYAPPDATADIR" Name="$(var.ProductAuthor)">
          <Directory Id="PRODUCTAPPDATADIR" Name="$(var.ProductName)"/>
        </Directory>        
      </Directory>
		</Directory>

    <!---Program folder--> 
		<ComponentGroup Id="ProductComponents" Directory="PRODUCTINSTALLDIR">
			<Component Id="ProductComponent" Win64="$(var.Win64)" Guid="E4CA725A-52AC-4C38-BBAA-55480AB321BC">
        <File Source="$(var.Client.TargetPath)" KeyPath="yes" Checksum="yes"/>
        <File Source="$(var.Client.TargetDir)EntityFramework.dll"/>
        <File Source="$(var.Client.TargetDir)Informant.exe.config"/>
        <ServiceInstall
          Id="ServiceInstaller"
          Type="ownProcess"
          Vital="yes"
          Name="$(var.ProductName)"
          DisplayName="$(var.ProductDisplayName)"
          Description="$(var.ProductDescription)"
          Start="auto"
          Account="[SERVICE_USERNAME]"
          Password="[SERVICE_PASSWORD]"
          ErrorControl="normal"
          Interactive="no">
        </ServiceInstall>
        <ServiceControl Id="StartService" Start="install" Stop="both" Remove="uninstall" Name="$(var.ProductName)" Wait="yes" />
      </Component>
		</ComponentGroup>
    
    <Component Id="AppDataComponent" Directory="PRODUCTAPPDATADIR" Win64="$(var.Win64)" Guid="F49A587A-D6BA-4785-97FB-AF8144B3FE65">
      <CreateFolder>
        <util:PermissionEx 
          User="[SERVICE_USERNAME]" GenericAll="yes"/>
        <util:PermissionEx 
          User="Everyone" GenericAll="no"/> 
        <util:PermissionEx 
          User="Administrators" GenericAll="no"/> 
      </CreateFolder>
    </Component>
    
    <Component Id="IconsComponent" Directory="ICONSINSTALLDIR" Win64="$(var.Win64)" Guid="3C7A5C8A-C433-414D-8A42-7AF3306F92D3">
      <File Source="$(var.Client.TargetDir)icons\informantBlue.ico" KeyPath="yes"/>
      <File Source="$(var.Client.TargetDir)icons\informantRed.ico"/>
    </Component>
    
    <ComponentGroup Id="BinComponents" Directory="BININSTALLDIR">
      <Component Id="CallbackComponent" Win64="$(var.Win64)" Guid="32E127A7-9F0B-4AF2-9D33-D3007145E089">
          <File Source="$(var.Client.TargetDir)lib\CBFltNet.dll" KeyPath="yes"/>
          <File Source="$(var.Client.TargetDir)lib\cbfltfs.sys"/>
      </Component>
    </ComponentGroup>
  
    <!---Icon-->
    <Icon Id="Informant.ico"  SourceFile="$(var.Client.TargetPath)"/>
    <Property Id="ARPPRODUCTICON" Value="Informant.ico" />
    
    <!--UI-->
    <Binary Id="success_bmp" SourceFile="$(var.ProjectDir)Resources\icons\success.bmp" />
    <Binary Id="error_bmp" SourceFile="$(var.ProjectDir)Resources\icons\error.bmp" />
    <Binary Id="ActiveDirectory" SourceFile="$(var.ProjectDir)Resources\lib\ActiveDirectory.dll" />
    <CustomAction Id="DirectoryObjectPicker" BinaryKey="ActiveDirectory" DllEntry="DirectoryObjectPicker" Execute="immediate" Return="check" />

    <UIRef Id="WizUI" />
    <UI Id="WizUI">
      <TextStyle Id="WixUI_Font_Normal" FaceName="Tahoma" Size="8" />
      <TextStyle Id="WixUI_Font_Bigger" FaceName="Tahoma" Size="12" />
      <TextStyle Id="WixUI_Font_Title" FaceName="Tahoma" Size="9" Bold="yes" />
      <Property Id="DefaultUIFont" Value="WixUI_Font_Normal" />
      <Property Id="WixUI_Mode" Value="InstallDir" />
      <Property Id="ARPNOMODIFY" Value="1" />
      <DialogRef Id="ErrorDlg" />
      <DialogRef Id="FatalError" />
      <DialogRef Id="FilesInUse" />
      <DialogRef Id="MsiRMFilesInUse" />
      <DialogRef Id="PrepareDlg" />
      <DialogRef Id="ProgressDlg" />
      <DialogRef Id="ResumeDlg" />
      <DialogRef Id="UserExit" />
      <DialogRef Id="CredentialsDlg" />
      <DialogRef Id="ServerDlg"/>
      <Publish Dialog="ExitDialog" Control="Finish" Event="EndDialog" Value="Return" Order="999">1</Publish>
      <Publish Dialog="WelcomeDlg" Control="Next" Event="NewDialog" Value="ServerDlg">1</Publish>
      
      <Publish Dialog="ServerDlg" Control="Back" Event="NewDialog" Value="MaintenanceTypeDlg" Order="1">Installed</Publish>
      <Publish Dialog="ServerDlg" Control="Back" Event="NewDialog" Value="WelcomeDlg" Order="2">NOT Installed</Publish>
      <Publish Dialog="ServerDlg" Control="Next" Event="NewDialog" Value="CredentialsDlg" Order="3">1</Publish>
      
      <Publish Dialog="CredentialsDlg" Control="Back" Event="NewDialog" Value="ServerDlg" Order="4">1</Publish>
      <Publish Dialog="CredentialsDlg" Control="Next" Event="NewDialog" Value="VerifyReadyDlg" Order="5">1</Publish>
      
      <Publish Dialog="VerifyReadyDlg" Control="Back" Event="NewDialog" Value="CredentialsDlg" Order="6">NOT Installed OR WixUI_InstallMode="Change"</Publish>
      <Publish Dialog="MaintenanceTypeDlg" Control="Back" Event="NewDialog" Value="MaintenanceWelcomeDlg">1</Publish>
    </UI>
    <UIRef Id="WixUI_Common" />
    
    <!--Registry-->
    <DirectoryRef Id="TARGETDIR">
      <Component Id="RegistryEntries" Guid="25AC2956-79FE-4DBE-85EA-76F69934F9E1">
        <RegistryKey Root="HKLM" Key="Software\$(var.ProductAuthor)\$(var.ProductName)" Action="createAndRemoveOnUninstall">
          <RegistryValue Type="string" Name="InstallDir" Value="[PRODUCTINSTALLDIR]" Action="write" KeyPath="yes"/>
          <RegistryValue Type="string" Name="AppDataDir" Value="[PRODUCTAPPDATADIR]" Action="write"/>
        </RegistryKey>
      </Component>
    </DirectoryRef>

    <!--Encrypt app.config connection strings-->
    <!--See evernote clip for correct not uninstall test-->
    <InstallExecuteSequence>
      <Custom Action="ConfigEncrypt.SetProperty" Before="ConfigEncrypt"/>
      <Custom Action="ConfigEncrypt" After="InstallFiles">
        <![CDATA[NOT Installed OR UPGRADINGPRODUCTCODE OR REINSTALL]]>
      </Custom>
    </InstallExecuteSequence>

  </Product>

  <!--Install checks-->
  <Fragment>
    <PropertyRef Id="NetFx45Web"/>
    <Condition Message="This application requires .NET Framework 4.5">
      <![CDATA[Installed OR NetFx45Web]]>
    </Condition>   
    <Condition Message="This application is only supported on Windows Vista, Windows Server 2008, or higher.">
      <![CDATA[Installed OR (VersionNT >= 600)]]>
    </Condition>   
    <Condition Message="64-bit operating system was detected, please use the 64-bit installer.">
      <![CDATA[Installed OR (VersionNT64)]]>
    </Condition>
  </Fragment>
  
  <?include CredentialsUI.wxi?>
  <?include ServerUI.wxi?>
</Wix>